{% extends 'base.html.twig' %}

{% block content %}
<div class="container">
    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </a>
                <div class="nav-collapse collapse navbar-responsive-collapse">
                    <ul class="nav">
                        <li><a href="#home">{{ 'nav.home'|trans }}</a></li>
                        <li><a href="#skills">{{ 'nav.skills'|trans }}</a></li>
                        <li><a href="#about" style="white-space: nowrap">{{ 'nav.about'|trans }}</a></li>
                        <li><a href="#publications">{{ 'nav.publications'|trans }}</a></li>
                        <li><a href="#talks">{{ 'nav.talks'|trans }}</a></li>
                        <li><a href="#contact">{{ 'nav.contact'|trans }}</a></li>
                        <li><a href="http://blog.philipp-rieber.net"><i class="icon-external-link" style="vertical-align: middle;"></i> {{ 'nav.blog'|trans }}</a></li>
                        <li>
                            {% include 'language_switcher.twig' %}
                        </li>
                    </ul>
                    <div class="pull-right">
                        {% include 'social_bar.twig' %}
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        {% for type, messages in app.session.flashbag.all %}
            {% for message in messages %}
                <div class="alert alert-{{ type }}">
                    <button type="button" class="close" data-dismiss="alert">×</button>
                    {{ message|trans({})|raw }}
                </div>
            {% endfor %}
        {% endfor %}

        <section class="row-fluid">
            <div class="span12">
                <div class="alert alert-info" role="alert" style="margin-bottom: 5px">
                    <strong>{{ 'teaser.1.head'|trans }}</strong>
                    {{ 'teaser.1.body'|trans|markdown_line|raw }}
                </div>
                <div class="alert alert-info" role="alert">
                    <strong>{{ 'teaser.0.head'|trans }}</strong>
                    {{ 'teaser.0.body'|trans|markdown_line|raw }}
                </div>
            </div>
        </section>
        <section class="hero-unit" id="jumbotron">
            <h1>{{ 'intro.h1'|trans|raw }}</h1>
            <div>
                <h2>{{ 'intro.h2'|trans }}</h2>
                <h3>{{ 'intro.h3'|trans }}</h3>
                <h4>{{ 'intro.h4'|trans({'%age%': age}) }}</h4>
            </div>
            <div class="pull-right">
                <a href="https://connect.sensiolabs.com/profile/bicpi" title="SensioLabs Certified Symfony Developer (Expert)"><img src="/img/certification-symfony.png" width="84" height="84" alt="SensioLabs Certified Symfony Developer (Expert)" /></a>
                &nbsp;&nbsp;&nbsp;
                <a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND003438" title="Zend Certified PHP Engineer"><img src="/img/certification-php.jpg" width="86" height="80" alt="Zend Certified PHP Engineer" /></a>
            </div>
        </section>
        <section class="row-fluid">
            <div class="span4">
                <h2>{{ 'opening.col1.head'|trans }}</h2>
                <p>{{ 'opening.col1.body'|trans }}</p>
            </div>
            <div class="span4">
                <h2>{{ 'opening.col2.head'|trans }}</h2>
                <p>{{ 'opening.col2.body'|trans }}</p>
            </div>
            <div class="span4">
                <h2>{{ 'opening.col3.head'|trans }}</h2>
                {{ 'opening.col3.body'|trans|markdown|raw }}
            </div>
        </section>

        <hr id="skills">
        <section>
            <h2>{{ 'nav.skills'|trans }}</h2>
            <p>{{ 'skills.intro'|trans }}</p>
            <ul class="cloud inline well">
                {% for skill, size in skills %}
                    <li style="font-size: {{ size }}%">{{ skill }}</li>
                {% endfor %}
            </ul>
        </section>

        <hr id="about">
        <section>
            <h2>{{ 'nav.about'|trans }}</h2>
            <p>{{ 'about.intro'|trans }}</p>
            <div class="row-fluid">
                <div class="span12">
                    <h3>{{ 'about.certifications'|trans }}</h3>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span6">
                    <p>
                        <img src="/img/certification-symfony.png" width="84" height="84" alt="SensioLabs Certified Symfony Developer (Expert)" />
                        &nbsp;&nbsp;
                        <a href="https://connect.sensiolabs.com/profile/bicpi" title="SensioLabs Certified Symfony Developer (Expert)"><b>SensioLabs Certified Symfony Developer (Expert)</b></a>
                    </p>
                </div>
                <div class="span6">
                    <img src="/img/certification-php.jpg" width="86" height="80" alt="Zend Certified PHP Engineer" />
                    &nbsp;&nbsp;
                    <a href="http://www.zend.com/en/yellow-pages#show-ClientCandidateID=ZEND003438" title="Zend Certified PHP Engineer"><b>Zend Certified PHP Engineer</b></a>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span4">
                    <h3>{{ 'about.col1.head'|trans }}</h3>
                    {{ 'about.col1.body'|trans|markdown|raw }}
                </div>
                <div class="span4">
                    <h3>{{ 'about.col2.head'|trans }}</h3>
                    {{ 'about.col2.body'|trans|markdown|raw }}
                </div>
                <div class="span4">
                    <h3>{{ 'about.col3.head'|trans }}</h3>
                    {{ 'about.col3.body'|trans|markdown|raw }}
                </div>
            </div>

            <hr id="publications">
            <section>
                <h2>{{ 'nav.publications'|trans }}</h2>
                <p>{{ 'publications.intro'|trans|markdown|raw }}</p>
                <div class="well">
                    <div class="row-fluid">
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.aliceFaker.title'|trans }}</h6>
                            <p><a href="https://entwickler.de/php-magazin/php-magazin-3-15-127563.html"><img src="/img/phpmagazin-3.15.jpg" width="130" height="184" alt="{{ 'publications.items.aliceFaker.alt'|trans }}" /></a></p>
                            <p><small>{{ 'publications.items.aliceFaker.subtitle'|trans|raw }}</small></p>
                        </div>
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.docker.title'|trans }}</h6>
                            <p><a href="http://discoveringdocker.com/de"><img src="/img/discovering-docker.png" width="152" height="184" alt="{{ 'publications.items.docker.alt'|trans }}" /></a></p>
                            <p><small>{{ 'publications.items.docker.subtitle'|trans|raw }}</small></p>
                        </div>
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.ionic.title'|trans }}</h6>
                            <p><a href="https://entwickler.de/php-magazin"><img src="/img/phpmagazin-5.15.jpg" width="130" height="183" alt="{{ 'publications.items.ionic.alt'|trans }}" /></a></p>
                            <p><small>{{ 'publications.items.ionic.subtitle'|trans|raw }}</small></p>
                        </div>
                    </div>
                    <div class="row-fluid top-buffer">
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.dynWeb1.title'|trans }}</h6>
                            <p><a href="http://www.amazon.de/Dynamische-Webseiten-Praxis-JavaScript-Eclipse/dp/3826616154"><img src="/img/cover_dyn_web_book_I_small.jpg" width="130" height="184" alt="{{ 'publications.items.dynWeb1.alt'|trans }}" /></a></p>
                            <p><small>{{ 'publications.items.dynWeb1.subtitle'|trans|raw }}</small></p>
                        </div>
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.cookbook.title'|trans }}</h6>
                            <p><a href="http://www.amazon.de/PHP-MySQL-Kochbuch-L%C3%B6sungen-Practices/dp/3826616804"><img src="/img/cover_cookbook_small.jpg" width="130" height="181" alt="{{ 'publications.items.cookbook.alt'|trans }}" /></a></p>
                            <p><small>{{ 'publications.items.cookbook.subtitle'|trans|raw }}</small></p>
                        </div>
                        <div class="span4 text-center">
                            <h6>{{ 'publications.items.dynWeb2.title'|trans }}</h6>
                            <p><a href="http://www.amazon.de/Dynamische-Webseiten-Praxis-JavaScript-Professional/dp/3826617827"><img src="/img/cover_dyn_web_book_II_small.gif" width="130" height="180" alt="{{ 'publications.items.dynWeb2.alt'|trans }}" /></a></p>
                            </p><small>{{ 'publications.items.dynWeb2.subtitle'|trans|raw }}</small></p>
                        </div>
                    </div>
                </div>
             </section>
        </section>

        <hr id="talks">
        <section>
            <h2>{{ 'nav.talks'|trans }}</h2>
            <ul>
                <li>{{ 'talks.items.4'|trans|markdown_line|raw }}</li></li>
                <li>{{ 'talks.items.3'|trans|markdown_line|raw }}</li></li>
                <li>{{ 'talks.items.2'|trans|markdown_line|raw }}</li></li>
                <li>{{ 'talks.items.1'|trans|markdown_line|raw }}</li></li>
                <li>{{ 'talks.items.0'|trans|markdown_line|raw }}</li></li>
            </ul>
        </section>

        <hr id="contact">
        <section>
            <h2>{{ 'nav.contact'|trans }}</h2>
            <div class="row-fluid">
                <div class="span6">
                    <form action="{{ path('home', {_locale: app.request.locale}) }}#contact" method="post" class="form" novalidate="novalidate">
                        {{ form_errors(form) }}
                        <p>{{ 'contact.intro'|trans }}</p>
                        <div class="control-group">
                            {{ form_errors(form.name) }}
                            {{ form_widget(form.name, { attr: { class: 'input-block-level', placeholder: 'contact.placeholder.name'|trans } }) }}
                        </div>
                        <div class="control-group">
                            {{ form_errors(form.email) }}
                            {{ form_widget(form.email, { attr: { class: 'input-block-level', placeholder: 'contact.placeholder.email'|trans } }) }}
                        </div>
                        <div class="control-group">
                            {{ form_errors(form.message) }}
                            {{ form_widget(form.message, { attr: { class: 'input-block-level', placeholder: 'contact.placeholder.message'|trans, cols: '76', rows: '8' } }) }}
                        </div>
                        <div class="control-group">
                            {% if recaptchaErrors|length %}
                                <p class="label label-important">{{ 'error.recaptcha'|trans }}</p>
                            {% endif %}
                            <div class="g-recaptcha" data-sitekey="6LcDMfsSAAAAAKnLsQldMXA6Ajx0RZpzY3bnRmr-"></div>
                        </div>
                        <div class="control-group">
                            {{ form_rest(form) }}
                            <button type="submit" class="btn btn-primary">Abschicken</button>
                        </div>
                    </form>
                </div>
                <div class="span6">
                    <a class="twitter-timeline" href="https://twitter.com/bicpi" data-widget-id="328216308216897537">Tweets von @bicpi</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
        </section>
    </div>
</div>

<footer>
    <div class="container">
        <strong>Philipp Rieber – {% include 'email.html.twig' %}</strong><br />
        {% include 'social_bar.twig' %}
        <p>
            {% include 'language_switcher.twig' %}
        </p>
        {% set Y = 'now'|date('Y') %}
        <p>
            &copy; 2013{% if Y > 2013 %}-{{ Y }}{% endif %}
            –
            <a href="{{ path('notes', {_locale: app.request.locale}) }}">{{ 'nav.notes'|trans }}</a>
        </p>
    </div>
</footer>
{% endblock %}